.main {
  overflow-y: hidden;
  overflow-x: hidden;
  height: calc(100vh - 80px);
}

.sidenav-container {
  height: 92%;
  position: relative;
}

.sidenav-content {
  width: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: #841f1f;
  color: #fff;
}

.mat-toolbar.mat-primary {
  // background: #eee;  // Change the color of the navigation bar
  // color: #000;  // Change the font color of the navigation bar
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-active {
  background-color: #aaa;
  color: #fff;
}

.is-active:hover {
  background-color: #aaa;
  color: #fff;
}

.is-active:focus {
  background-color: #aaa;
  color: #fff;
}

.logo {
  margin-right: 10px;
  font-size: 18px;
  width: 100%;
  font-weight: bolder;
  text-align: center;

}
.toolbar-icon {
  padding: 0 0px;
}

.sidenavContainer {
  height: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.top-nav {
  height: 64px;
  position: fixed;
  top: 0px;
}

.fixed-toolbar {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
}
.inner-content{
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link {
  cursor: pointer;
}

.mat-drawer-container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
  height: 100% !important;
}


.active{
  /*background: #144aa7;*/
  /*color: #0bbad7;*/
  color: #3182ce;
  font-family: 'Roboto', sans-serif; padding-bottom: 10px;
}


.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  height: 35px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 13px;
  /*color: #3182ce;*/
}


.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  border-radius: inherit;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mat-expansion-panel-body {
  padding: 0 8px 6px !important;
}



